
<ul class="nav flex-column pt-3">
  <li class="nav-item">
    <a class="nav-link text-white {% if active=='dashboard' %}active{% endif %}"
       href="{{ url_for('user.dashboard') }}">
      Dashboard
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-white {% if active=='properties' %}active{% endif %}"
       href="{{ url_for('property.list_properties') }}">
      Properties
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-white {% if active=='add_property' %}active{% endif %}"
       href="{{ url_for('property.add_property') }}">
      Add Property
    </a>
  </li>

  <li class="nav-item">
  <a class="nav-link text-white {% if active=='explore' %}active{% endif %}"
     href="{{ url_for('property.explore_properties') }}">
    Explore Properties
  </a>
</li>


  <li class="nav-item">
    <a class="nav-link text-white {% if active=='interest' %}active{% endif %}"
       href="{{ url_for('interest.my_interest') }}">
      My Interest
    </a>
  </li>
  
      <li class="nav-item">

  {% if agent_profile %}

      {% if agent_profile.agency_status == "active" %}
         <span class="nav-link text-success fw-bold">
          Agent active
        </span>

      {% elif agent_profile.agency_status == "pending" %}
        <span class="nav-link text-warning fw-bold">
          Agent Pending
        </span>

      {% elif agent_profile.agency_status == "suspended" %}
        <span class="nav-link text-danger fw-bold">
          Agent Suspended
        </span>

      {% else %}
        <a class="nav-link text-white {% if active=='agent' %}active{% endif %}"
           href="{{ url_for('agent.apply') }}">
          Become an Agent
        </a>
      {% endif %}

  {% else %}
    <a class="nav-link text-white {% if active=='agent' %}active{% endif %}"
       href="{{ url_for('agent.apply') }}">
      Become an Agent
    </a>
  {% endif %}

</li>
 
</ul>